.js-todoListOutLine{
    background-color: white;
    width: 30vw;
    margin: 0;
}

.js-toDoLists{
    padding: 0;
    width: fit-content;
}

@media(max-width:450px){
    .js-todoListOutLine{
        background-color: white;
        width: 80vw;
        height: 20vh;
        margin: 0;
    }
}

.greeting{
    display: none;
}

.form{
    display: none;
}

.showing{
    display: block;
}

.js-greeting{
    text-align: center;
}

.js-form{
    text-align: center;
}

.js-form::placeholder{
    color:white;
    text-align: center;
}

.inputName{
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    background-color: transparent;
    color : white;
    border-color: white;
}

.momentum{
    position:absolute;
  top:50%;
  left:50%;
  color: white;
  transform:translate(-50%, -50%);  
}

.inputTodo{
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    background-color: transparent;
    color : white;
    border-color: white;
    margin-top: 2.0vw;
    width: 50vw;
    line-height: 5vw;
    font-size: 2vw;
}

input::placeholder{
    color:white;
    text-align: center;
}

.js-clock{
    text-align: center;    
}

.js-checkboxForm{
    text-align: center;
}

.todoBox{
    position: absolute;
    right : 30px;
    bottom:0px;
    color : white;
    cursor: pointer;
}

h1{
    font-size: 8vw;
    margin: 0;    
}

h4{
    margin: 1.0vw;
    font-size: 3vw;
}

h5{
    font-size: 1vw;
    text-align: end;    
}

li{
    list-style: none;    
    /* background-color: white; */
    color: black;
    margin-left: 0;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }to{
        opacity: 1;
    }
}

body{
    background-color: rgb(39, 36, 43);
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width : 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}